// ______________ colors ______________ 

$primary : #fbbf3b;
$secondary : #00558d;
$dark : #535266;

$white: rgb(255, 255, 255);


$blue: #CBE6FF;
$pink: #E6D5D4;
$green: #CEF9CA;
$purple: #BBB7E6;
$yellow: #FFF9D8;
$danger: #a83b3b;
$warning: #ca8e39;




// shadow
$shadow: rgba(0, 0, 0, 0.821) 0px 5px 15px;


// radius
$radius: 5px;